
body {
    background-image: url("../img/Frame%202.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}

#app{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
    font-size: 50px;
    color: #FEBB09;
    font-style: oblique;
}
.form{
	width: 300px;
	max-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	background-color: #edcabd;
	border-radius: 10px;
}
#display{
	background-color: #edbacd;
	padding: 3px 0;
	margin: 2px 0; 
}

.name-input{
	width: inherit;
}

.name-input input{
	width: 295px;
	margin-bottom: 10px;
}

.quantity-watt{
	width: inherit;
	display: flex;
	justify-content: space-between;
}

.quantity-watt input:first-of-type{
	width: 50px;
}

.quantity-watt input:last-of-type{
	width: 150px;
}

input[type=text] {
    height: 30px;
}

button {
    height: 35px;
}

.bg-tone-blue{
	background-color: #0099ff;
	color: aliceblue;
	margin: 5px;
	padding: 3px 5px;
	border-radius: 3px
}

#calculate {
	margin-top: 5px;
	display: flex;
	justify-content: center;
}

#calculateButton{
	height: 35px;
	width: 100px;
}


